[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xmonad via xmonad.start
Exec=/home/bewest/bin/xmonad.start
TryExec=xmonad
NoDisplay=true
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true

